@import "mixins/all";

$headerHeight: lines(2.5);

.header {
  height: $headerHeight;
  width: 100%;
}

.global-header-wrapper {
  @include wrapper;
  // No padding on mobile
  padding-left: 0;
  padding-right: 0;
  @include media(mid-desktop) {
    padding-left: lines(0.5);
    padding-right: lines(0.5);
  }
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

/* Buttons may need padding, text links don't */
.header-padding {
  margin-left: lines(0.5);
}

/* Vertically centered block element in header bar */
@mixin header-block($height) {
  display: block;
  margin-top: ($headerHeight - $height) / 2;
  margin-bottom: ($headerHeight - $height) / 2;
  height: $height;
}

.header-logo {
  display: block;
  $logoHeight: em(40);
  @include header-block($logoHeight)
}

.header-text-link {
  line-height: $headerHeight;
  padding-right: lines(0.5);
  padding-left: lines(0.5);
}

@mixin header-menu-button($bgcolor) {
  @include button($bgcolor);
  $buttonHeight: em(40);
  @include header-block($buttonHeight);
  padding-left: em(20);
  padding-right: em(20);
  line-height: $buttonHeight - em(3); // -3px finetuning, text looks better
}

.new-listing-link {
  @include header-menu-button($link2);
}

.header-menu {
  @include header-menu-button($highlight);
  color: $body;
}

.header-menu-text {
  display: inline-block;
  padding-left: lines(0.25);
}

.header-user-avatar {
  @include border-radius($default-border-radius);
  @include header-block(em(40));
}

.header-user-toggle {
  padding-left: lines(0.5);
  display: block;
  @include clearfix;
}